{% extends 'base.html.twig' %}

{% block body %}

    <main>
        <div class="main-section">
            <div class="container">
                <div class="main-section-data">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                            <div class="main-left-sidebar no-margin"></div>
                        </div>
                        <div class="col-lg-6 col-md-8 no-pd" >

                            <div class="main-ws-sec">
                                <div class="posts-section">
                                    <div class="post-bar">
                                        <div class="post_topbar">
                                            <div class="usy-dt">
                                                <img src="" alt="">
                                                <div class="usy-name">
                                                    <h3>Factures au nom de {{ app.user.username }}: </h3>

                                                </div>
                                            </div>

                                            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap"
                                                   cellspacing="0" width="70%">
                                                <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Datecr</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for facture in factures %}
                                                    {% if app.user.id == facture.userid.id %}
                                                        <tr>
                                                            <td><a href="{{ path('facture_show', { 'id': facture.id }) }}">{{ facture.id }}</a></td>
                                                            <td>{% if facture.dateCr %}{{ facture.dateCr|date('Y-m-d') }}{% endif %}</td>
                                                            <td>
                                                                <ul>
                                                                    <li>
                                                                        <a href="{{ path('facture_show', { 'id': facture.id }) }}">show</a>
                                                                    </li>

                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>

                                            <div class="blog">
                                                <a href="{{ path('donation_index') }}">Liste des Dons</a>
                                            </div>



                                            <main>

                                        </div></div></div></div></div></div></main>

{% endblock %}
