{% extends 'base.html.twig' %}

{% block body %}

    <section class="companies-info">
        <div class="container">
            <div class="company-title">
                <h3>All Sponsors</h3>
            </div><!--company-title end-->
            <div class="companies-list">
                <div class="row">

                    {% for sponsor in sponsors %}
                        <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="company_profile_info">
                            <div class="company-up-info">
                                <img src="{{ asset('uploads/images/' ~ sponsor.logo) }}" alt="">
                                <h3>{{ sponsor.namesp }}</h3>
                                <h4>{{sponsor.address }}</h4>
                                <ul>

                                    <li><a href="{{ path('user_send', { 'idsp': sponsor.idsp }) }}" title="" class="message-us"><i class="fa fa-envelope"></i> Contact</a></li>
                                    <li><a href="{{ path('sponsor_user_show', { 'idsp': sponsor.idsp }) }}" title="" class="follow">View</a></li>
                                </ul>
                            </div>

                        </div><!--company_profile_info end-->
                    </div>
                    {%  endfor %}
                </div>
            </div><!--companies-list end-->
            <div class="process-comm">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div><!--process-comm end-->
        </div>
    </section><!--companies-info end-->

{%  endblock %}