{% extends 'admin.html.twig' %}
{% block body %}
<section class="content file_manager">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-7 col-sm-12">
                <ul class="breadcrumb float-md-left">
                    <li class="breadcrumb-item"><a href="#"><i class="zmdi zmdi-home"></i> Acceuil</a></li>
                    <li class="breadcrumb-item"><a href="#">Groupe</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="header">

                </div>
                <div class="body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>NOM</th>
                            <th>Description</th>
                            <th>Datecreation</th>
                            <th>Categorie</th>
                            <th>Actions</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for groupe in groupes %}
                            {% if groupe.user != app.user.username %}
                                <tr>
                                    <td>{{ groupe.id }}</td>
                                    <td> {{ groupe.nom }}</td>
                                    <td> {{ groupe.description }}</td>

                                    <td>{% if groupe.dateCreation %}{{ groupe.dateCreation|date('Y-m-d') }}{% endif %}</td>
                                    <td>{{ groupe.categorie }}</td>

                                    <td>
                                        <ul>

                                            <li>
                                                <a href="/admin/groupe/{{groupe.id}}/delete"style="color:red;"><i class="fas fa-eraser"></i>  Delete</a>
                                            </li>

                                        </ul>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}
