{% extends 'admin.html.twig' %}
{% block body %}
    <section class="content home">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-7 col-sm-12">
                    <ul class="breadcrumb float-md-left">
                        <li class="breadcrumb-item"><a href="#"><i class="zmdi zmdi-home"></i> Acceuil</a></li>
                        <li class="breadcrumb-item"><a href="#">Reclamation</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="body table-responsive members_profiles">
                            {% for r in reclamation %}
                                <div class="cp-field">
                                    <h5>Type</h5>
                                    <div class="form-group">
                                        {{ r.type }}
                                    </div>
                                </div>
                                {% if r.status==0 %}
                                    <div class="cp-field">
                                        <h5>Status</h5>
                                        <div class="form-group">
                                            En cours
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="cp-field">
                                        <h5>Status</h5>
                                        <div class="form-group">
                                            traite
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="cp-field">
                                    <h5>Description</h5>
                                    {{ r.description }}
                                </div>
                                {% if r.status==1 %}
                                    <div class="cp-field">
                                        <h5>Reponse</h5>
                                        {{ r.reponse }}
                                    </div>
                                {% else %}
                                    {{ form_start(form) }}
                                    <div class="cp-field">
                                        {{ form_widget(form.Reponse) }}
                                    </div>
                                    <div class="cp-field">
                                        {{ form_widget(form.Repondre) }}
                                    </div>
                                    {{ form_end(form) }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}