{% extends 'base.html.twig' %}

{% block body %}
    <h1>Replies list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>Date</th>
                <th>Datereplay</th>
                <th>Relayby</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reply in replies %}
            <tr>
                <td><a href="{{ path('replies_show', { 'id': reply.id }) }}">{{ reply.id }}</a></td>
                <td>{{ reply.contenu }}</td>
                <td>{{ reply.date }}</td>
                <td>{% if reply.dateReplay %}{{ reply.dateReplay|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ reply.relayBy }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('replies_show', { 'id': reply.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('replies_edit', { 'id': reply.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('replies_new') }}">Create a new reply</a>
        </li>
    </ul>
{% endblock %}
