{% extends 'admin.html.twig' %}
{% block body %}
<section class="content ecommerce-page">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-7 col-sm-12">
                <ul class="breadcrumb float-md-left">
                    <li class="breadcrumb-item"><a href="#"><i class="zmdi zmdi-home"></i> Acceuil</a></li>
                    <li class="breadcrumb-item"><a href="#">Pack</a></li>
                </ul>
            </div>
        </div>
    </div>    <div class="row clearfix">
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <div class="tab-content">

                        <div class="tab-pane body active" id="about">

                                <a role="button" class="boxs-close float-lg-right" href="{{ path('pack_delete',{ 'idad': pack.idad })}}"> Delete Ad <i class="zmdi zmdi-close"></i></a>

                            <div class="col-lg-12 col-md-4 col-12">
                                <div class="profile-image "> <img src="{{ asset('uploads/images/' ~ pack.ad) }}"width="350" height="250" ></div>

                            </div>
                            <h4 class="m-t-0 m-b-0"><strong>Position</strong>{{ pack.position }} </h4>

                            <hr>
                            <small class="text-muted">Display Date: </small>
                            <p>{{ pack.displaydate| date("d/m/Y") }}</p>
                            <hr>

                            <small class="text-muted">Discard Date: </small>
                            <p>{{ pack.discarddate| date("d/m/Y") }}</p>
                            <hr>
                            <small class="text-muted">Price: </small>
                            <p>{{ pack.price }}</p>
                            <hr>
                            <small class="text-muted">Sponsor: </small>
                            <p>{{ pack.idsp.namesp }}</p>
                            <hr>

                        </div>

                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}
