{% extends 'base.html.twig' %}
{% block header %}
{%  endblock %}
{% block leftbar %}
{%  endblock %}
{% block container %}

    <section class="content home">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">

                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <ul class="breadcrumb float-md-right">
                        <li class="breadcrumb-item"><a href="{{ path('pack_index') }}"><i class="zmdi zmdi-home"></i> Home</a></li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Packs</strong> List  </h2>
                            <ul class="header-dropdown">
                                <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-right slideUp">
                                        <li><a href="{{ path('pack_new') }}">new pack</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                        <div class="body table-responsive members_profiles">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th style="width:60px;">Pack</th>
                                    <th>Pack ID</th>
                                    <th>Position</th>

                                    <th>Display Date</th>
                                    <th>Discard Date</th>
                                    <th>Price</th>
                                    <th>Action</th>

                                </tr>
                                </thead>

                                <tbody>
                                {% for pack in packs %}
                                    <tr>
                                        <td>
                                            <img class="rounded-circle" src="assets/images/xs/avatar1.jpg" alt="user" width="40">{{ pack.ad }}
                                        </td>

                                        <td><a href="{{ path('pack_show', { 'idad': pack.idad }) }}">{{ pack.idad }}</a></td>
                                        <td>
                                            <a href="javascript:void(0);">{{ pack.position }}</a>
                                        </td>
                                        <td>{{pack.displaydate | date("d/m/Y") }}</td>
                                        <td>{{ pack.discarddate | date("d/m/Y")  }}</td>
                                        <td>{{ pack.price }}</td>



                                        <td>
                                            <ul>
                                                <li>
                                                    <a href="{{ path('pack_show', { 'idad': pack.idad }) }}">show</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('pack_edit', { 'idad': pack.idad }) }}">edit</a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
