{% extends 'base.html.twig' %}
{% block header %}
{%  endblock %}
{% block leftbar %}
{%  endblock %}
{% block container %}


<section class="content profile-page">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2><strong>Pack ID</strong> -  {{ pack.idad }} </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="{{ path('pack_index') }}"><i class="zmdi zmdi-home"></i> Home</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <div class="row clearfix">
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <div class="tab-content">
                        <div class="tab-pane body active" id="about">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="profile-image float-md-right"> <img src="{{ asset('Dashboard/assets/images/profile_av.jpg') }}"width="70%" height="40%" ></div>

                            </div>
                            <h4 class="m-t-0 m-b-0"><strong>Position</strong> </h4>
                            <p>{{ pack.position }} - {{ pack.ad }}</p>
                            <hr>
                            <small class="text-muted">Display Date: </small>
                            <p>{{ pack.displaydate| date("d/m/Y") }}</p>
                            <hr>

                            <small class="text-muted">Discard Date: </small>
                            <p>{{ pack.discarddate| date("d/m/Y") }}</p>
                            <hr>
                            <small class="text-muted">Price: </small>
                            <p>{{ pack.price }}</p>
                            <hr>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<h4 class="m-t-0 m-b-0"><strong>{{ pack.idad }}   -  {{ pack.idad }}</strong> </h4>

    <span class="job_post">{{ pack.idad }} {{ pack.idad }}</span>
    <p>Address {{ pack.idad }}<br> </p>
    <p>Email{{ pack.idad }}<br> </p>
    <p>Phone {{ pack.idad }}<br> </p>
{% endblock %}
