{% extends 'base.html.twig' %}

{% block body %}
    <section class="banner">
        <div class="">
            <img src="{{asset('template/images/hands.jpg')}}" alt="image" width="100%" height="400px">
        </div>
        <div class="bennertext">
            <div class="innertitle">
                <h2>We proud to share with you <br>
                    our loyal partners</h2>
                <p>You can feel free to contact them about your upcoming events<br> musicals, shows, or competitions</p>
            </div>
        </div>
        <span class="banner-title">About Sponsor</span>
    </section>
    <section class="Company-overview">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h2>
                        Sponsor Overview
                    </h2>
                    <p>
                        {{ sponsor.description }}

                    </p>
                    <p>
                        {{ sponsor.email }}
                    </p>
                    <p>
                        {{ sponsor.address}}
                    </p>
                    <p>
                       +216 {{ sponsor.tel }}
                    </p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="{{ asset('uploads/images/' ~ sponsor.logo) }}" alt="image">
                </div>
            </div>
        </div>
    </section>

{%  endblock %}