{% extends 'base2.html.twig' %}

{% block body %}
    {#
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"></head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <section class="forum-page">
        <div class="container">
            <div class="forum-questions-sec">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="forum-questions">
                            <div class="usr-question">
                                <div class="header">
                                    <h2><strong>Liste des </strong> groupes proposés </h2>
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">

                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>NOM</th>
                                            <th>Description</th>
                                            <th>Datecreation</th>
                                            <th>Categorie</th>
                                            <th>Actions</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for groupe in groupes %}
                                            {% if groupe.user != app.user.username %}
                                                <tr>
                                                    <td>{{ groupe.id }}</td>
                                                    <td> {{ groupe.nom }}</td>
                                                    <td> {{ groupe.description }}</td>

                                                    <td>{% if groupe.dateCreation %}{{ groupe.dateCreation|date('Y-m-d') }}{% endif %}</td>
                                                    <td>{{ groupe.categorie }}</td>

                                                    <td>
                                                        <ul>
                                                            <li>
                                                                <a href="{{ path('groupe_edit', { 'id': groupe.id }) }}" style="color:red;">  <i class="far fa-edit"></i> Modifier</a>
                                                            </li>
                                                            <li>
                                                                <a href="/groupe/{{groupe.id}}/delete"style="color:red;"><i class="fas fa-eraser"></i>  Delete</a>
                                                            </li>

                                                            <li>
                                                                <a href="{{ path('demande', { 'id': groupe.id }) }}"style="color:red;"><i class="fas fa-user-plus"></i>  Rejoindre</a>
                                                            </li>

                                                            <li>
                                                                <a href="/groupe/detail" style="color:red;"><i class="fas fa-info-circle"></i>  Detail </a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div><!--usr-question end-->

                        </div><!--forum-questions end-->
                        <nav aria-label="Page navigation example" class="full-pagi">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link pvr" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item"><a class="page-link" href="#">6</a></li>
                                <li class="page-item"><a class="page-link pvr" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>

            </div><!--forum-questions-sec end-->
        </div>
    </section><!--forum-page end-->
    #}
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="header">

                </div>
                <div class="body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>NOM</th>
                            <th>Description</th>
                            <th>Datecreation</th>
                            <th>Categorie</th>
                            <th>Actions</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for groupe in groupes %}
                            {% if groupe.user != app.user.username %}
                                <tr>
                                    <td>{{ groupe.id }}</td>
                                    <td> {{ groupe.nom }}</td>
                                    <td> {{ groupe.description }}</td>

                                    <td>{% if groupe.dateCreation %}{{ groupe.dateCreation|date('Y-m-d') }}{% endif %}</td>
                                    <td>{{ groupe.categorie }}</td>

                                    <td>
                                        <ul>

                                            <li>
                                                <a href="/admin/groupe/{{groupe.id}}/delete"style="color:red;"><i class="fas fa-eraser"></i>  Delete</a>
                                            </li>


                                            <li>
                                                <a href="/groupe/detail" style="color:red;"><i class="fas fa-info-circle"></i>  Detail </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
