{% extends 'base1.html.twig' %}


{% block title %}Evenements{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block body %}
    <div class="big-div">
        <h1>Recherche d'un évènement par date </h1>
    </div>
    <br>
    <br>
    <center>
        {{ form_start(form) }}
        <table border="2">

            <tr>
                <th> Date </th>
                <td>{{ form_widget(form.datedebut) }}</td>
            </tr>

        </table>
        {{ form_end(form) }}
        <br>
        <br>
        <section class="services">
            <div class="container">

                <div class="row">

                    {%  for c in evenement %}
                        {% if app.user.typec == 'talent' %}
                            <div class="col-md-4 col-sm-12">
                                <div class="blog">
                                    <h2 align="centre" style="color: red"> {{ c.titre }}</h2>



                                    <img src="{{ asset('template/images/'~c.image)  }}" alt="image"/>
                                    <br><br><br><br><br><br><br><br><br>





                                    <h2  style="color: #0D47A1; font-size: medium;">Du {{ c.datedebut |date('Y-m-d')}} jusqu'à {{ c.datefin |date('Y-m-d')}}</h2>
                                    <h2 align="centre">

                                        <p style="color: #0D47A1; font-size: large;">{{ c.typedetalent }}</p><br>
                                        <p style="color: #0D47A1; font-size: large;">Vous avez besoin du {{ c.cout }}    <i class="fa fa-diamond"></i></p>


                                    </h2>

                                    <a href="{{ path('detailuser',{'id':c.id_evenement}) }}">Detail</a>
                                    <td>

                                        {% if (c.participe == false) and (c.cout < 500) and (c.nbparticipant != 0) %}

                                            <a href="{{ path('ajouterticket',{'id':c.id_evenement}) }}">Participer</a>

                                        {% elseif c.participe == true %}
                                            <a href="#">vous avez déja participé</a>

                                        {% elseif c.nbparticipant == 0   %}
                                            <a href="#">Competition pleine</a>


                                        {% elseif  c.cout > 500 %}
                                            <br><br><br>
                                            <p style="color: red">gagner plus de diamond et reviens  </p>

                                        {% endif %}


                                    </td>

                                </div>
                            </div>
                        {% else %}
                            <script>
                                window.alert("Seulement le Talent peut voir cette page");

                            </script>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </center>
    <p class="important">

    </p>
{% endblock %}